.login-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('./imgs/wimo-bg.png');
  background-position: center;
}

.conctr-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto; 
  color: white;
}

.login-text-fields {
  margin: auto;
  padding-bottom: 20px;
  max-width: 85%;
}

.login-page-button {
  margin: 10px 0 10px 0;
}

.login-logo {
  max-width: 85%;
  padding-bottom: 20px;
}

.login-page-button {
  min-width: 150px;
}

.welcome-container {
  position: absolute;
  bottom: 7.5vw;
  left: 7.5vw;
  max-width: 30%;
  min-width: 300px;
  margin: auto;
}

.login-dialogue {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border: 1px;
}

.login-button {
  width: 85%;
  margin: 7px 0 7px;
}

.register-modal-button {
  width: 85%;
  margin: auto;
}

.login-divider {
  margin: auto;
  margin: 15px 0 16px;
}

.login-text {
  margin: 10px;
  color: rgb(200, 45, 45)
}
