.battery-container {
    display: block;
    float: right;

    .battery-percent {
       position: absolute;
       z-index: 1;
       font-size: 0.8em;
       margin-left: 10px;
       margin-top: 22px; 
    }
    .darkgreen {
        color: darkgreen;
    }
    .green {
        color: green;
    }
    .orange {
        color: orange;
    }
    .red {
        color: red;
    }   
    .darkred {
        color: darkred;
    }
    .battery {
        margin-right: 0;
    }
}