.section-header {
  min-height: 8vh;
  padding: 0 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(251, 238, 238);
}

.status-title-block {
  margin: auto;
}

.status-title {
  font-size: 2em;
  margin: 0 0 5px;
}

.status-data-age {
  margin: 5px 0 ;
  font-weight: 100;
}

.device-settings-modal-button {
  position: absolute;
  margin: 0 12px !important;
  right: 0px;
  top: 0;
}

.status-data-array {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  justify-content: space-around;
}

.status-data-element {
  flex-grow: 1;
  text-align: center;
  max-width: 200px;
  width: 200px;
  margin: 0;

}

.status-data-type {
  margin: 10px auto;
  color: darkgray;
  font-size: 1.5em;
  font-weight: 100;
}

.status-data-value {
  color: black;
  margin: 10px auto;
  // font-size: 2em;
  font-size: 1.5em;
  padding: 5px 0 5px;
}

.warning {
  animation: warning-pulse 3s infinite;
}

.analysis-title {
  font-size: 2em;
  margin: auto;
}

.device-settings {
  position: absolute;
  right: 0;
  top: 0;
}

.selection-prompt-container {
  display: flex;
  min-height: 18vh;
}

.selection-prompt {
  color: darkgrey;
  font-weight: 100;
  margin: auto;
}

.analysis-container {
}

.slider-range {
  color: black;
  width: 25%;
}

.range-title {
  color: darkgrey;
  font-weight: 100;
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

.range-value {
  font-size: 1.5rem;
  margin-top: .5rem;
}

.graph {
  width: 100%;

  svg {
   // height: 500px !important;
  }

}

.graph-menu {
  width: 25%;
}

.graph-block {
  display: flex;
}

@keyframes warning-pulse {
  0% {
    background-color: rgba(250, 220, 220, 0);
  }
  50% {
    background-color: rgba(200, 40, 40, 0.5);
  }
  100% {
    background-color: rgba(250, 220, 220, 0);
  }
}
