body {
  width: 100vw;
  height: 100vh;
  text-align: center; }

div.login-modal-actions {
  display: flex;
  flex-direction: column;
  align-items: center; }

.login-page-button {
  min-width: 150px; }

.google-oauth {
  background-color: grey;
  font-size: 12px;
  padding: 0px; }

.welcome-container {
  position: absolute;
  bottom: 10%;
  left: 10%;
  max-width: 30%;
  min-width: 200px;
  margin: auto; }

.welcome-dialogue {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border: 1px; }

.hero-logo {
  max-width: 85%;
  padding-bottom: 20px; }

.home-bg {
  max-width: 100%;
  min-height: 100%;
  z-index: -1;
  position: fixed;
  left: 0px;
  top: 0px; }

.login-text-fields {
  margin: auto;
  padding-bottom: 20px;
  max-width: 85%; }

.login-page-button {
  margin: 10px 0 10px 0; }

.chip-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .chip-container .chip {
    margin: 4; }

.display-true {
  background-color: red; }

.container {
  display: block;
  float: left;
  right: 50%;
  width: 100%;
  height: 250px; }

.battery {
  display: block;
  margin-left: 25%;
  margin-right: 25%; }

.innerpre {
  width: 0px;
  height: 90px;
  background: #8fc800;
  position: absolute;
  margin: 117px 0px 0px 153px; }

.inner {
  width: 224px;
  height: 90px;
  background: #3D3D3D;
  position: absolute;
  margin: 93px 0px 0px 129px;
  border: 24px solid #fff;
  outline: 21px solid #3D3D3D; }

.posi {
  width: 34px;
  height: 89px;
  background: #3D3D3D;
  position: absolute;
  margin: 118px 0px 0px 433px; }

.menu {
  list-style: none;
  /* Important for sizing problems when you add/remove the submenus 
     Make it use 100% of the size of your container */
  width: 100%;
  /* This prevents a lot of problems with the submenus. 
     UL have basic padding, keep that in mind */
  padding: 0; }
  .menu li {
    /* I wanted mine horizontal. Feel free to change it to what you want */
    display: inline-block;
    /* Float the items to the left, to make sure the disposition does not change when it shows the subitems */
    float: left;
    /* The -1px on top and right make it so that our borders end up above one another
       Not needed it you don't have borders... */
    margin: -1px -1px 0 0; }
    .menu li a {
      display: block;
      /* My basic styling. I'm just giving them a black text, with a black border, and center the text in the box. */
      text-decoration: none;
      border: 1px solid black;
      vertical-align: middle;
      text-align: center;
      /* Fixed size is also just me. 
         Not fixing it just make huge boxes when you have submenus */
      width: 100px;
      height: 50px;
      line-height: 50px; }

.menu li > ul {
  /****** THE INTERESTING PART ******/
  /* We hide the submenus by putting them somewhere on the left, with no opacity. */
  left: -9999px;
  opacity: 0;
  /* We make transitions on opacity */
  -webkit-transiton: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.menu li:hover > ul {
  /* On hover, we get it back to its basic spot
  left:0;
/* And change the opacity to a fully visible one */
  opacity: 1; }

.asdf {
  kasdhfk: sakfhg; }
